.about-class {
    width: 100%;
    background-color: #E0E0E0;
    padding: 50px 0;
}
.about-class-inner {
    max-width: 1150px;
    margin: auto;
    display: flex;
}
.about-class-inner-img, .about-class-inner-text { width: 100%; }
.about-class-inner-img {
    background-image: url('../images/about.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vh;
}
.about-class-inner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
}
.about-heading { 
    font-size: 45px; 
    font-weight: 700; 
    color: white; 
    margin-bottom: 15px;
    line-height: 1; 
}
.about-class-inner-text p { font-size: 16px; }
@media (max-width: 1250px) {
    .about-class { padding: 80px 25px; }
    .about-class-inner-img { height: 50vh; }
  }
  @media (max-width: 1050px) {
    .about-class-inner-img { height: 40vh; }
    .about-class { padding: 65px 20px; }
  }
  @media (max-width: 900px) {
    .about-class { padding: 52px 20px; }
    .about-class-inner-img { height: 30vh; }
  }
@media (max-width: 750px) {
    .about-class-inner { flex-direction: column; }
    .about-class-inner-text { margin-top: 25px; margin-left: 0; }
    .about-class { padding: 40px 15px; }
    .about-class-inner-img { height: 30vh; }
}
@media (max-width: 500px) {
    .about-class-inner-img {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: auto;
    }
}