@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  height: 60px;
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightseagreen;
  transition: all .5s;
}
header a { color: white; text-decoration: none; }
header .logo {
  text-transform: uppercase;
  font-size: 40px;
  transition: all .5s;
}
header .menu {
  display: flex;
  flex-direction: column;
}
header ul { list-style: none; transition: all .5s; }
header ul li { float: left; }
header ul li a {
  padding: 10px 20px; 
  transition: all .5s;
}
header ul li a:hover { background-color: rgba(0, 0, 0, .5); border-radius: 25px; }
.activeNavbarClass { background-color: rgba(0, 0, 0, .5); border-radius: 25px; }
.toggle {
  display: none;
  width: 40px;
  height: 40px;
  background: url('../images/navbar/menu.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  cursor: pointer;
  background-color: transparent;
}
.active {
  background: url('../images/navbar/close.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  cursor: pointer;
  background-color: transparent;
}
@media (max-width: 1250px) {
  header { padding: 0 45px; }
  header .logo { font-size: 35px; }
}
@media (max-width: 1050px) {
  header { padding: 0 35px; }
  header .logo { font-size: 32px; }
}
@media (max-width: 900px) {
  header { padding: 0 25px; }
  header .logo { font-size: 28px; }
}
@media (max-width: 900px) {
  header{ padding: 10 15px; }
  header .logo { font-size: 25px; }
  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 15px;
    text-align: end;
  }
  header .menu ul { display: none; position: absolute; top: 50px; right: 0; background-color: lightseagreen; width: 150px; }
  header .menu ul li { float: none; padding: 10px 20px; }
  .toggle { display: block; }
}